{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% form_theme form _self %}

{% block form_errors -%}
    {%- if errors|length > 0 -%}
        <div class="{% if form.parent %}form-control-feedback{% else %}alert alert-danger{% endif %}">
            <ul class="list-unstyled mb-0">
                {%- for error in errors -%}
                    <li>{{ error.message }}</li>
                {%- endfor -%}
            </ul>
        </div>
    {%- endif %}
{%- endblock form_errors %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-3">
        </div>
        <div class="col-lg-6 text-center">
            <div id="registration" class="card">
            <div class="card-header">
                <h4>{{ 'registration.header'|trans }}</h4>
            </div>
            <div class="card-block">
                {{ form_start(form) }}

                    <div class="form-group row{% if not form.email.vars.valid %} has-danger{% endif %}">
                        <label class="required col-4 col-form-label text-right" for="credentials_email">
                            {{ form_label(form.email) }}
                        </label>
                        <div class="col-8">
                        {{ form_widget(form.email) }}
                        {{ form_errors(form.email) }}
                        </div>
                    </div>

                <div class="form-group row{% if not form.plainPassword.first.vars.valid %} has-danger{% endif %}">
                    <label class="required col-4 col-form-label text-right" for="credentials_plainPassword_first">
                        {{ form_label(form.plainPassword.first) }}
                    </label>
                    <div class="col-8">
                        {{ form_widget(form.plainPassword.first) }}
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                </div>

                <div class="form-group row{% if not form.plainPassword.second.vars.valid %} has-danger{% endif %}">
                    <label class="required col-4 col-form-label text-right" for="credentials_plainPassword_second">
                        {{ form_label(form.plainPassword.second) }}
                    </label>
                    <div class="col-8">
                        {{ form_widget(form.plainPassword.second) }}
                        {{ form_errors(form.plainPassword.second) }}
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12">
                        <button class="btn btn-secondary" type="submit">Register!</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #registration {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    </style>
{% endblock %}